body{
    text-align: center;
    height: 100vh;
}

.succes_content{
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    margin-top: -10%;
}