/*---------------layout-----------*/
/* aqui empieza en nav bar*/

nav{
    display: flex;
    background-color: var(--purple-home);
    color: white;
    padding: 1%;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    height: 50px;
}

.logo_image{
    display: flex;
}

.logo_image a{
    display: flex;
}

.logo_image h1{
    padding-left: 1em;
}

.nav_options{
    font-size: 1.7em;
}

nav ul{
    display: flex;

}

nav li{
    padding-left: var(--space20px);
    list-style: none;
}

    /* aqui termina el nav bar */

    /* aqui empieza el footer*/
footer{
    background-color: var(--purple-home);
    padding: var(--space10px);
    border-radius: 2px;
    height: 35px;
    font-size: 13px;
}

.footer_option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul{
    list-style: none;
}

footer ul li{
    padding-right: 15px;
    
}

footer ul li a{
    color: var(--black-color);
    text-decoration: none;
}

/* aqui termina el footer*/