
@media (max-width: 900px){



    /*contact section*/
    .row{
        display: inherit;

    }

    .row img{
        margin-left: 15px;
    }

    .row p{
        margin-top: -10px;
    }

    [class*="col-"]{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    
}
