<!----------------------inicio del footer------------------------->
<footer>
    <div class="footer_options">
        <div class="footer_option">
            <ul>
                <li><a href="#"><strong>Terminos y Condiciones</estrong></a></li>
                <li><a href="#"><strong>Contacto@nolosetudime.com</strong></a></li>
            </ul>
        </div>
    </div>
</footer>
<!----------------------fin del footer---------------------------->
    <script src="./SCRIPTS/script.js">
  
    </script>
</body>
</html>