<%- include('layouts/header') %>
<!-----------------------------inico del main content------------------------>
<h1 class="home_title fadeIn">
    Este es un producto <span>Increible</span>, no se que haces viendo que lo puedes <span>Tener</span>.
</h1>

    <div class="main_father ">

            <!-------------------- products ------------------------>
            <section class="slide_section">
                
                <div class="slide_content">
                    <div class="slide_item">
                        <img src="./img/photo_1.jpg" >
                        
                        <div class="slide_text">
                            <h1 class="slide_title">Slide N°1 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, assumenda? Rerum, unde nobis! Rerum qui itaque, atque consequuntur nisi reiciendis nesciunt blanditiis maiores! Suscipit quibusdam ducimus ipsa ab aliquid quod vel molestias accusamus mollitia laudantium illo, atque architecto, aliquam vero eligendi eaque adipisci quos obcaecati</p>
                            <button>
                                blha
                            </button>
                        </div>
                    </div>

                    <div class="slide_item">
                        <img src="./img/photo_2.jpg" >
                        
                        <div class="slide_text">
                            <h1 class="slide_title">Slide N°1 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, assumenda? Rerum, unde nobis! Rerum qui itaque, atque consequuntur nisi reiciendis nesciunt blanditiis maiores! Suscipit quibusdam ducimus ipsa ab aliquid quod vel molestias accusamus mollitia laudantium illo, atque architecto, aliquam vero eligendi eaque adipisci quos obcaecati</p>
                            <button>
                                blha
                            </button>
                        </div>
                    </div>

                    <div class="slide_item">
                        <img src="./img/photo_3.jpg"   >
                        
                        <div class="slide_text">
                            <h1 class="slide_title">Slide N°1 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, assumenda? Rerum, unde nobis! Rerum qui itaque, atque consequuntur nisi reiciendis nesciunt blanditiis maiores! Suscipit quibusdam ducimus ipsa ab aliquid quod vel molestias accusamus mollitia laudantium illo, atque architecto, aliquam vero eligendi eaque adipisci quos obcaecati</p>
                            <button>
                                blha
                            </button>
                        </div>
                    </div>

                    <div class="slide_item">
                        <img src="./img/photo_4.jpg" >
                        
                        <div class="slide_text">
                            <h1 class="slide_title">Slide N°1 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, assumenda? Rerum, unde nobis! Rerum qui itaque, atque consequuntur nisi reiciendis nesciunt blanditiis maiores! Suscipit quibusdam ducimus ipsa ab aliquid quod vel molestias accusamus mollitia laudantium illo, atque architecto, aliquam vero eligendi eaque adipisci quos obcaecati</p>
                            <button>
                                blha
                            </button>
                        </div>
                    </div>

                    <div class="slide_item">
                        <img src="./img/photo_5.jpg" >
                        
                        <div class="slide_text">
                            <h1 class="slide_title">Slide N°1 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, assumenda? Rerum, unde nobis! Rerum qui itaque, atque consequuntur nisi reiciendis nesciunt blanditiis maiores! Suscipit quibusdam ducimus ipsa ab aliquid quod vel molestias accusamus mollitia laudantium illo, atque architecto, aliquam vero eligendi eaque adipisci quos obcaecati</p>
                            <button>
                                blha
                            </button>
                        </div>
                    </div>

                </div>



            </section>

                    <!-------------------- fin de products ------------------------>
        
                        <!----------------------inicio de la seccion de menciones--------->
            <section class="mencion_sections">
                <div><h1 class="mencion_title"><span>Locos</span></h1></div>
                <div class="mencion_content">
                    <div class="mencion_section">
                        <div class="mencion_box">
                            <img src="./img/autor_1.jpeg" width="230px" height="200px">
                            
                            <h3>titulo</h3>
                            <p>descripcion</p>
                        </div>
                    </div>

                    <div class="mencion_section">
                        <div class="mencion_box">
                            <img src="./img/autor_2.jpeg" width="250px" height="200px">
                            
                            <h3>titulo</h3>
                            <p>descripcion</p>
                        </div>
                    </div>

                    <div class="mencion_section">
                        <div class="mencion_box">
                            <img src="./img/autor_3.jpg" width="200px" height="200px">
                            
                            <h3 >titulo</h3>
                            <p >descripcion</p>
                        </div>
                    </div>
                </div>
            </section>
             <!----------------------fin de la seccion de menciones------------>

       
           
            <!----------------------------fin del content section---------------->

            <!----------------------------inico de la seccion de imgs----------->
            <section class="early_section">

                <h1>Artistas Inspiradores</h1>

                <div class="img_section fadeInUp">
                    <div class="img_box">
                        <img src="./img/artista_1.jpg" width="80px" height="80px">
                        
                    </div>
                    <div class="string_box">
                        <h3>titulo</h3>
                        <button>
                            descripcion
                        </button>   
                    </div> 
                </div>
                <div class="img_section fadeInUp">
                    <div class="img_box">
                        <img src="./img/artista_2.jpg" width="80px" height="80px">
                        
                    </div>
                    <div class="string_box">
                        <h3>titulo</h3>
                        <button>
                            descripcion
                        </button>   
                    </div>    
                </div>
                <div class="img_section fadeInUp">
                    <div class="img_box">
                        <img src="./img/artista_3.jpg" width="80px" height="80px">
                        
                    </div>
                    <div class="string_box">
                        <h3>titulo</h3>
                        <button>
                            descripcion
                        </button>   
                    </div>   
                </div>
                <div class="img_section fadeInUp">
                    <div class="img_box">
                        <img src="./img/artista_4.jpg" width="80px" height="80px">
                        
                    </div>
                    <div class="string_box">
                        <h3>titulo</h3>
                        <button>
                            descripcion
                        </button>   
                    </div>     
                </div>
            </section>

            <!----------------------fin de la seccion de imgs----------------->

    </div>
<%- include('layouts/footer')%>