/*---------editorial-----------*/
li {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover,
a:focus{
    cursor: pointer;
    color: var(--deep-purple-home);
    transition: background 1s ease-out;
}

button{
    text-align: center;
    outline: none;
    border: none;
    background: var(--deep-purple-home);
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
}

button:hover,
button:focus{
    background:var(--dark-purple-color);
    cursor: pointer;
    transition: background 1s ease-out;
}

.home_title{
    text-align: center;
    text-align: center;
    padding: 5%;
    font-size: 3.5em;
    margin-top: var(--negspace15px);
}

.home_title span{
    color: var(--purple-home);
}
