/*Body------Grid*/

.main_father{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 50px 0px;
    grid-template-areas: "head sidebar"
                         "main main";
}

.slide_section{
    grid-area: head;
}

.mencion_sections{
    grid-area: main;
}

.early_section{
    grid-area: sidebar;
}




/*---------Product-----Pag----Main---Content-------*/

.product_content{
    display: Grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"sidebar  main";
}

.product_content_anti{
    display: Grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"main sidebar";
}

.product_info{
    grid-area: main;
}

.product_img{
    grid-area: sidebar;
}

